<header class="topHeader col-lg-12">
    <div class="col-lg-9 emailContent">
      <span class="glyphicon glyphicon-envelope"></span>
      <span class="emailText">parth5502@gmail.com</span>
    </div>
    <div class="col-lg-3 emailContent text-right">
      <span class="glyphicon glyphicon-triangle-right"></span>
      <span class="emailText paddingRight">Login</span>
      <span class="glyphicon glyphicon-triangle-right"></span>
      <span class="emailText">Register</span>
    </div>
  </header>