<header class="bottomHeader col-lg-12">
    <div class="col-lg-2">
      <img src="../assets/houses.png" height="85" width="85" />
      <div class="logoHead">
        <span class="greenHead">THE</span>
        <span>HOUSE</span>
      </div>
    </div>
    <div class="col-lg-6">
      <ul class="headerList">
        <li>Home</li>
        <li>Property</li>
        <li>Agents</li>
        <li>Pages</li>
      </ul>
    </div>
    <div class="col-lg-4 text-right submitProp">
      <button type="button" class="btn btn-success">Submit Property</button>
    </div>
  </header>